cat > .gitignore <<'EOF'
### Java / Maven ###
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.class
# OS
.DS_Store
Thumbs.db
EOF

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
