option_settings:

  ## VPC y subredes
  aws:ec2:vpc:
    VPCId: "vpc-036aea0e84d497cba"
    Subnets: "subnet-04e0b7808ee7d3088,subnet-06160a399b2d0d631,subnet-08c0ed5fc13597c6f"
    ELBSubnets: "subnet-04e0b7808ee7d3088,subnet-06160a399b2d0d631,subnet-08c0ed5fc13597c6f"
    AssociatePublicIpAddress: "true"

  ## Forzar al ELB a ser público
  aws:elb:loadbalancer:
    LoadBalancerScheme: "internet-facing"
